#articleBuscaPage {
    margin-top: 150px;
}

#articleBuscaPage div {
    text-align: -webkit-center;
}

#articleHomePage {
    background-color: burlywood;
    max-width: 1320px;
    height: 200px;
}

.button-container-article-login-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.larger-button {
    width: 200px;
    margin: 0 10px;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
}

.newsletter-container p {
    font-size: x-large;
}
