#articleCadastroPage {
    margin-top: 150px;
}

#articleCadastroPage div {
    text-align: -webkit-center;
}

#headerCadastroPage nav {
    display: flex;
    justify-content: flex-end;
    margin-top: -185px;
}

#headerCadastroPage nav ul {
    list-style: none;
    display: flex;
    align-items: end;
    flex-direction: column;
}

#headerCadastroPage ul li {
    margin-right: 10px;
    text-transform: uppercase;
}

#headerCadastroPage ul li a {
    text-decoration: none;
    color: #000;
    font-size: xxx-large;
    margin-top: -50px;
}

#headerCadastroPage ul li a:hover {
    text-decoration: underline;
}

#headerCadastroPage img {
    width: 200px;
}

.button-container-article-login-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.larger-button {
    width: 200px;
    margin: 0 10px;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
}

.newsletter-container p {
    font-size: x-large;
}

.header-background {
    background-color: burlywood;
    /* Cor de fundo desejada */
    color: #fff;
    /* Cor do texto */
    font-size: 24px;
    /* Tamanho da fonte desejado */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    padding: 10px;
}

.title-logo{
    font-family: fantasy;
    font-size: 50px;
}