#articleCadastroPage {
    margin-top: 150px;
}

#articleCadastroPage div {
    text-align: -webkit-center;
}

.button-container-article-login-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.larger-button {
    width: 200px;
    margin: 0 10px;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
}

.newsletter-container p {
    font-size: x-large;
}


.title-logo{
    font-family: fantasy;
    font-size: 50px;
}