.card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    height: inherit;
    margin-left: 80px;
}

.card img {
    width: 70%;
    height: fit-content;
    margin-inline: auto;
    margin-top: 22px;
    margin-left: 34px;
    background: lavender;
}

.card p {
    font-weight: bold;
    /* topo | direita | inferior | esquerda */
    margin: 15px auto 14px auto;
}

/* Define uma classe CSS para a imagem em formato de bola */
.ball-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid #fff; /* Adicione uma borda branca para destacar a forma da bola */
}

/* Adicione estilos CSS para a imagem interna dentro da bola */
.ball-image-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}