.card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    height: inherit;
    margin-left: 80px;
}

.card img {
    width: 70%;
    height: 50px;
    height: fit-content;
    margin-inline: auto;
}

.card p {
    font-weight: bold;
    /* topo | direita | inferior | esquerda */
    margin: 15px auto 14px auto;
}