/* carousel.css */

.carousel-root {
    max-width: 800px; /* Largura máxima do carrossel */
    margin: 0 auto; /* Centralizar o carrossel horizontalmente */
  }
  
  .carousel .slide img {
    width: 30%; /* Imagens ocupam 100% da largura do slide */
    height: 300px; /* Altura das imagens ajustada automaticamente */
  }
  
  .carousel .carousel-status {
    display: none; /* Ocultar a numeração do carrossel */
  }
  
  .carousel .thumbs-wrapper {
    margin-top: 20px; /* Espaçamento entre o carrossel e os thumbnails */
  }
  
  .carousel .thumb {
    width: 60px; /* Largura dos thumbnails */
    height: 60px; /* Altura dos thumbnails */
    margin-right: 10px; /* Espaçamento entre os thumbnails */
    border: 2px solid transparent; /* Borda dos thumbnails */
  }
  
  .carousel .thumb.selected {
    border-color: #ff0000; /* Cor da borda para o thumbnail selecionado */
  }
  