#articleHomePage {
    margin-top: 150px;
}

#sectionHomePage {
    /* topo | direita | inferior | esquerda */
    /* margin: 80px 0 10px 0; */
    margin:16px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#sectionHomePage img {
    width: 200px;
}

#sectionHomePage span {
    font-size: xx-large;
    font-weight: bold;
    text-align:left;
}

#articleCardAvaliacoesHomePage {
    /* topo | direita | inferior | esquerda */
    margin: 80px 0 10px 0;
    background-color: burlywood;
    max-width: 1320px;
    height: 500px;
    display: flex;
}

#articleCardTrabalhadorHomePage {
    /* topo | direita | inferior | esquerda */
    margin: 80px 0 10px 0;
    background-color: burlywood;
    max-width: 1320px;
    height: 500px;
    display: flex;
}


.button-container-article-login-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.larger-button {
    width: 200px;
    margin: 0 10px;
}
