#articleMinhaContaPage {
    margin-top: 150px;
}

#articleMinhaContaPage div {
    text-align: -webkit-center;
}

#headerMinhaContaPage nav {
    display: flex;
    justify-content: flex-end;
    margin-top: -185px;
}

#headerMinhaContaPage nav ul {
    list-style: none;
    display: flex;
    align-items: end;
    flex-direction: column;
}

#headerMinhaContaPage ul li {
    margin-right: 10px;
    text-transform: uppercase;
}

#headerMinhaContaPage ul li a {
    text-decoration: none;
    color: #000;
    font-size: xxx-large;
    margin-top: -50px;
}

#headerMinhaContaPage ul li a:hover {
    text-decoration: underline;
}

#headerMinhaContaPage img {
    width: 200px;
}

#articleHomePage {
    background-color: burlywood;
    max-width: 1320px;
    height: 200px;
}

#footerMinhaContaPage {
    /* topo | direita | inferior | esquerda */
    margin: 80px 0 10px 0;
    background-color: burlywood;
    max-width: 1320px;
    height: 200px;
}

#footerMinhaContaPage nav {
    margin-inline-end: auto;
    margin-top: -52px;
}

#footerMinhaContaPage nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 40px;
}

#footerMinhaContaPage nav ul li {
    margin-bottom: 10px;
}

#footerMinhaContaPage ul li a {
    text-decoration: none;
    color: #000;
    font-size: x-large;
    margin-top: -50px;
}

#footerMinhaContaPage ul li a:hover {
    text-decoration: underline;
}

#footerMinhaContaPage {
    background-color: burlywood;
    max-width: 1320px;
    height: 200px;
    display: flex;
}

#footerMinhaContaPage div {
    text-align: center;
    padding: 20px;
}

.button-container-article-login-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.larger-button {
    width: 200px;
    margin: 0 10px;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
}

.newsletter-container p {
    font-size: x-large;
}

.header-background {
    background-color: burlywood;
    /* Cor de fundo desejada */
    color: #fff;
    /* Cor do texto */
    font-size: 24px;
    /* Tamanho da fonte desejado */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    padding: 10px;
}

.title-logo{
    font-family: fantasy;
    font-size: 50px;
}

/* Define uma classe CSS para a imagem em formato de bola */
.ball-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid #fff; /* Adicione uma borda branca para destacar a forma da bola */
}

/* Adicione estilos CSS para a imagem interna dentro da bola */
.ball-image-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}