.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  height: inherit;
  width: 260px;
}

.card img {
  width: 70%;
  height: fit-content;
  margin-inline: auto;
  margin-top: 22px;
  margin-left: 34px;
  background: lavender;
}

.card p {
  font-weight: bold;
  margin: 8px auto 8px auto;
  max-width: 250px;
  white-space: nowrap;                  
  overflow: hidden; 
  text-overflow: ellipsis;
}

.ball-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #fff; /* Adicione uma borda branca para destacar a forma da bola */
}

.ball-image-inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}