.container-busca{
  display:flex;
  flex:1;
  flex-direction: row;
  justify-content: center;
  padding:32px 0 16px;
  overflow:hidden;
}
.container-resultado-busca{
  display:flex;
  flex:1;
  height:100%;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left:12px;
  overflow-y:scroll;
}

.container-resultado-busca .empty-container{
  display:flex;
  flex:1;
  height:90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filter{
  display:flex;
  flex:1;
  max-width:30%;
  flex-direction: column;
  align-items: center;
}
.filter .button-container{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  gap:16px;
}

.larger-button {
  width: 200px;
  margin: 0 10px;
}

.input-servico{
  height: fit-content;
  margin-bottom: 8px;
}

.input-age{
  height: fit-content;
  margin-bottom: 8px;
}